body {
	background-color: transparent;
}

.color-list {
	list-style: none;
	padding: 0;
}

.color-entry {
	width: 100%;
	display: flex;
	margin-bottom: 0.4em;
	border: 1px solid var(--vscode-input-border);
}

.color-preview {
	width: 2em;
	height: 2em;
}

.color-preview:hover {
	outline: inset white;
}

.color-input {
	display: block;
	flex: 1;
	width: 100%;
	color: var(--vscode-input-foreground);
	background-color: var(--vscode-input-background);
	border: none;
	padding: 0 0.6em;
}

.add-color-button {
	display: block;
	border: none;
	margin: 0 auto;
}

.path {
	display: flex;
	flex-direction: column;
	padding: 0.5rem 0;
}

.path>span {
	padding-bottom: 1rem;
	font-weight: 700;
}

ul {
	margin: 0;
	padding-left: 0;
}

.copy-button {
	width: fit-content;
	padding: 2px;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding-right: 0.5rem;

	color: var(--vscode-input-foreground);
	outline-color: var(--vscode-input-border);
	background-color: var(--vscode-input-background);
}

i .codicon {
	font-size: 1.5rem;
}

.top-border {
	border-top: 1px dotted var(--vscode-foreground);
}

.margin-bottom {
	margin: 0 0 1rem 0;
}

@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.rotating {
	-webkit-animation: rotating 2s linear infinite;
	-moz-animation: rotating 2s linear infinite;
	-ms-animation: rotating 2s linear infinite;
	-o-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite;
}

.button-span {
	padding-left: 0.5rem;
}